{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>My news site</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'djProject/assets/favicon.ico' %}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'djProject/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts' %}">Home</a>
        <a class="navbar-brand" href="{% url 'create' %}">New post</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="#!">User: {{ user.get_username }}</a></li><!--TODO: Профиль-->
                    <li><a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        {% block content %}{% endblock %}
        <!-- Side widgets-->
        {% block side_widget %}{% endblock %}
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
</body>
</html>